.DS_Store
*.swp
*.swo

env/*

*__pycache__*
*ipynb_checkpoints/*
*mypy_cache*

code/.ipython/*
code/.jupyter/*
code/.local/*
code/__pycache__/*
code/.bash_history
code/tags

code/crypto_intro/.mypy_cache/*
code/crypto_intro/.ipynb_checkpoints/*
code/recursion/exponentiation/__pycache__/*
code/solutions/*
code/misc/*
