.DS_Store
*.swp
*.swo

env/

*__pycache__*
*mypy_cache*
.ipynb_checkpoints

code/.ipython/
code/.jupyter/
code/.local/
code/__pycache__/
code/.bash_history
code/tags
code/vectorization/profile.prof

code/*/.ipynb_checkpoints/
code/*/.mypy_cache/*
code/recursion/exponentiation/__pycache__/
code/misc/

code/solutions/rsa/generate_keys_and_codes.py
code/solutions/**/*.pdf
code/solutions/

code/graphs/clique/archive/

code/make_exercises.sh
code/exercises/

code/graphs/dominating_set/images/*/*.pdf
