.DS_Store
*.swp
*.swo

env/*

*__pycache__*
*mypy_cache*
.ipynb_checkpoints

code/.ipython/*
code/.jupyter/*
code/.local/*
code/__pycache__/*
code/.bash_history
code/tags

code/crypto_intro/.mypy_cache/*
code/crypto_intro/.ipynb_checkpoints/*
code/recursion/exponentiation/__pycache__/*
code/solutions/*
code/misc/*
code/complexities/.mypy_cache/*
code/complexities/.ipynb_checkpoints/*
